//main colors
$primary: #75ffcd;
$secondary: #7ca1c6;
$backgroundColor: #000000;

//common color
$white: #ffffff;
$black: #1a1818;
$logo-color: #173329;
$tab: #ffffffcc;
$selection-bg: hsl(0deg 0% 0%);
$card-bg: #181818;

//font size
$font-xl: 4.5rem;
$font-lg-3: 2.8rem;
$font-lg-2: 1.4rem;
$font-lg: 1.2rem;
$font-md: 18px;
$font-sm: 16px;
